{% extends "base.html" %}

{% load static %}
{% block title %}Instructor Wishlist{% endblock title %}
  {% include "messages.html" %}

{% block content %}

<main class="Site-content">
      <!-- Select Courses -->
      <div class="align-self-center">
        <div class="selectcoursesdiv">
          <form action="{% url 'instructor-wishlist' %}" method="GET">
            <!--Search Input-->

            <div class="row">
              <div class="col-6">
                <h2 class="selectcoursestitle ml-5 pl-5">
                  Select Five Courses:
                </h2>
              </div>
            </div>
            <!-- Searchbar -->
            <div class="row ml-5 pl-5 pr-5 mr-5">
              <div
                class=" d-flex justify-content-between  rounded-pill search-group"
              >
                <input
                  type="text"
                  name="q"
                  class="rounded-pill search-input text-dark"
                  placeholder="Search for Courses"
                  value="{{request.GET.q}}"
                />
                <button class="search-btn rounded-circle" type="submit" value="Search">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </form>

          <!-- Courses List -->
          <div class="courses ml-5 pl-5 mt-2 pt-2">
            <form action="{% url 'instructor-wishlist' %}" method="POST">
              {% csrf_token %}

              {% for course in all_courses %}
                {% if course in selected_courses %}
              <label class="container pl-5"
                >{{course.number}} {{course.name}}
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="course"
                  value={{course.number}}
                  checked
                  onclick="return ValidateCourseSelection();"
                />
                <span class="checkmark"></span>
              </label>

              {% elif course in selected_elective_courses %}
              <label class="container pl-5"
                >{{course.number}} {{course.name}}
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="course"
                  value={{course.number}}
                  checked
                  onclick="return ValidateCourseSelection();"
                />
                <span class="checkmark"></span>
              </label>

            {% else %}
               <label class="container pl-5"
                >{{course.number}} {{course.name}}
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="course"
                  value={{course.number}}
                  onclick="return ValidateCourseSelection();"
                />
                <span class="checkmark"></span>
              </label>
            {% endif%}

              {% endfor %}
     
              <!-- Next Button -->
              <div class="pt-5 pb-5 pr-5 mr-5 bd-highlight">
                <button
                  id="nextButton"
                  class="form-button-next pr-5 btn-lg rounded-pill"
                  type="submit"
                  onclick="ValidateNextButton();"
                >
                  Next
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>


    <script type="text/javascript">
      function ValidateCourseSelection() {
        var checkboxes = document.getElementsByName("course");
        var numberOfCheckedItems = 0;
        for (var i = 0; i < checkboxes.length; i++) {
          if (checkboxes[i].checked) {
            numberOfCheckedItems++
          };

        }
        if (numberOfCheckedItems > 5) {
          alert("You can't select more than five courses!");
          returnToPreviousPage();
          return false;
        }
      }
    </script>

    <script type="text/javascript">
      function ValidateNextButton(event) {
        console.log("event", event)
        var checkboxes = document.getElementsByName("course");
        var numberOfCheckedItems = 0;

        for (var i = 0; i < checkboxes.length; i++) {
          if (checkboxes[i].checked) {
            numberOfCheckedItems++;
          }
        }
     
        if (numberOfCheckedItems == 0) {
          alert("You have to choose at least a course to proceed!");
          // returnToPreviousPage();
          return false;
        }
        else if (numberOfCheckedItems > 5) {
          alert("You have maximum five courses to choose");
          // returnToPreviousPage();
          return false;
        }
        else {
          return true;
        }
      
      }
    </script>


{% endblock content %}