{% extends "base.html" %}

{% block title %}Instructors Statistics{% endblock title %}

{% block content %}

<main class="Site-content">
      <div class="align-self-center">
        <div class="pl-5 pr-5">
          <div class="Tablediv">
            <div class=" mt-4 pt-4 mb-4 pb-4 pl-5 pr-5 mr-5 ml-5 text-center">
              <h2>
                Instructors Statistics
              </h2>
            </div>
            <form action="{% url 'instructors-statistics' %}" method="GET">
              <!-- Searchbar -->
              <div class="row ml-5 pl-5 pr-5 mr-5">
                <div
                  class=" d-flex justify-content-between rounded-pill search-group "
                >
                  <input
                    type="text"
                    name="q"
                    class="rounded-pill search-input text-dark"
                    placeholder="Search for Courses"
                    value="{{request.GET.q}}"
                  />
                  <button class="search-btn rounded-circle" type="submit" value="Search">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            </form>
            <!--Table -->
            <div class="mb-5 pb-5 mr-5 pr-5 ml-5 pl-5 mt-4 pt-4">
              <table class="table table-striped table-dark">
                <thead>
                  <tr>
                    <th class="text-center">Course#</th>
                    <th scope="col">Course Name</th>
                    <th class="text-center">#candidate</th>
                  </tr>
                </thead>
                {% for statistic in instructors_statistics %}
                <tr>
                  <td class="text-center">{{statistic.0.number}}</td>
                  <td>{{statistic.0.name}}</td>
                  <td class="text-center"><a class="name" href="{% url 'candidate-info' statistic.0.number %}">{{statistic.1}}</a></td>
                </tr>
                {% endfor %}
              </table>
                {% if instructors_statistics %}
                  <a
                    class="btn btn-danger rounded-pill"
                    href="{% url 'reset-instructors-statistics-confirmation'%}"
                  >
                    Reset all instructors statistics
                  </a>
                {% else %}
                  <div class="text-center">
                    <h4>
                      No instructors statistics
                    </h4>
                  </div>
                {% endif %}

            </div>
          </div>
        </div>
      </div>
    </main>

{% endblock content %}