
{% load static %}

    <!-- footer start -->
    <footer class="footer">
      <div class="row mt-5">
        <div class="col-3 ml-5 mt-2">
          <h4 class="LinksTitle">
            Useful Links
          </h4>
          <hr class="line" />
          <ul class="list Links">
            <li>
              <a class="link" href="http://www.kuniv.edu/ku/index.htm"
                >Kuwait University</a
              >
            </li>
            <li>
              <a class="link" href="http://www.cs.ku.edu.kw/"
                >Computer Science Department</a
              >
            </li>
          </ul>
        </div>
        <div class="col-3 ml-5 mt-2">
          <h4 class="LinksTitle">
            Contact Us
          </h4>
          <hr class="line" />
          <ul class="list Links">
            <li>
              <a
                class="link"
                href="mailto:askscheduly@gmail.com?Subject=Question%20OR%20HELP"
                target="_top"
                >askscheduly@gmail.com</a
              >
            </li>
          </ul>
        </div>

        <div class="container pt-5">
          <div class="row">
            <div class="col-xl-12 pt-5">
              <p class="text-center copyrights ">
                Copyright &copy; 2020 Scheduly All rights reserved
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!--/ footer end  -->
